.container-1{
    text-align: center;
    color: #555555;;
    font-size: 20px;
    padding:20px;
}

.background-image{
    background:linear-gradient(lightblue,cornflowerblue);
}

.navbar-default{
    background:none;
    border-color:transparent
}
.navbar-default .navbar-nav>li>a {
    color: white;
}

.brand-1{
    height:100%;
    width:auto;
    padding:0px;    
}

.container-2{
color: white;
padding:0px;
text-align:center;
}

.phones{
max-width:100%;
height: auto;

}

.container-3{
    background: white;
    color: #555555;
    text-align:center;
    padding:60px;
    text-align: center;
}

.fptext{
   color: rgba(85,85,85,0.66);
   line-height: 10px;
}

.container-4{
    background:white;
    color: #555555;
    text-align:center;
    padding:20px;
}

.hovers{
border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hovers::after{
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hovers:hover{
    -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.hovers:hover::after {
    opacity: 1;
}

.video{
    width:100%;
}

.notizie{
   background: #5DA1CF;
   color:white;
}

.footer{
    background: #333;
    color:white;
}

.brand-2{
    width:100px;
    margin-top: 60px;
}

.address{
    margin-top: 60px;
}

.apple-andriod{
    color:white;
    text-align: center;
}
.fa-android {
    padding-left: 30px;
}