.container-1{
    text-align: center;
    color: darkgrey;
    font-size: 20px;
    padding:20px;
}

.background-image{
    background:linear-gradient(lightblue,royalblue);
}

.navbar-default{
    color:white;
    background:none;
}

.brand-1{
    height:100%;
    width:auto;
    padding:0px;    
}

.container-2{
color: white;
padding:60px;
}

.container-3{
    background:lightgrey;
    color:darkgrey;
    text-align:center;
    padding:20px;
}

.container-4{
    background:lightgrey;
    color:darkgrey;
    text-align:center;
    padding:20px;
}

.container-5{
    padding:20px;
}

.Video{
    background:blue;
}

.Notizie{
    background: lightblue;
}

.footer{
    background:darkgray;
}