.container-1{
    text-align: center;
    color: darkgrey;
    font-size: 20px;
    padding:20px;
}

.navbar-header{
    color:white;
}

.container-2{
background: blue;
color: white;
padding:20px;
}

.container-3{
    background:lightgrey;
    color:darkgrey;
    text-align:center;
    padding:20px;
}

.container-4{
    background:lightgrey;
    color:darkgrey;
    text-align:center;
    padding:20px;
}

.container-5{
    padding:20px;
}

.Video{
    background:blue;
}

.Notizie{
    background: lightblue;
}

.footer{
    background:darkgray;
}